<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['goodsManagePage.css'] %>">
  <style>
    .ant-advanced-search-form .ant-form-item {
      display: flex;
    }
    .ant-advanced-search-form .ant-form-item-label {
      overflow: visible;
    }
    .ant-card .ant-card-cover{
      height: 180px;
      line-height: 180px;
      overflow: hidden;
    }
    .ant-card .ant-card-body{
      padding: 8px;
    }
    .ant-card-actions > li .anticon-minus-circle{
      color: red;
    }
    html {
      overflow-y: scroll;
    }

    :root {
      overflow-y: auto;
      overflow-x: hidden;
    }

    :root body {
      position: absolute;
    }

    body {
      width: 100vw;
    }
  </style>
</head>
<body>
<div id="app"></div>
<input id="sessionUser" type="text" value="<%= user %>" style="display: none;">
<input id="goodType" type="text" value="<%= goodType %>" style="display: none;">
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['goodsManagePage.js'] %>"></script>
</body>
</html>
