<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['userManagePage.css'] %>">
</head>

<body>
<div id="app"></div>
<input id="sessionUser" type="text" value="<%= user %>" style="display: none;">
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['userManagePage.js'] %>"></script>
</body>
</html>
