<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['editWantPage.css'] %>">
  <style>
  </style>
</head>
<body>
<div id="app" style="width: 820px; position: relative; left: 200px"></div>
<div id="goodType" data-value=<%= goodType %>></div>
<div id="wantID" data-value=<%= wantID %>></div>
<div id="username" data-value=<%= username %>></div>
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['editWantPage.js'] %>"></script>
</body>
</html>
