<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['goodDetailPage.css'] %>">
  <style>
  </style>
</head>
<body>
<div id="app"></div>
<div id="goodID" data-value=<%= goodID %>></div>
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['goodDetailPage.js'] %>"></script>
</body>
</html>
