<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static['wantsListPage.css'] %>">
  <style>
  </style>
</head>
<body>
<div id="app"></div>
<div id="username" data-value=<%= username %>></div>
<script src="<%= static['vendor.js'] %>"></script>
<script src="<%= static['wantsListPage.js'] %>"></script>
</body>
</html>
